body {
  margin: 0;
  padding: 0;
    font-family: sans-serif;
}


a {text-decoration: none;}

.container {
  margin: auto;
  width: 1000px;
}

.public {
  font-size: medium;
  margin-top: 3%;
  border-radius: 18px;
  border: 0px;
  width: 190px;
  height: 37px;
  background-color: #0d3955;
  color: white;
}

.linha {
  color: #dedede;
}

.menubot{
  margin-left: -150px;
  height: 27px;
  width: 27px;
  margin-top: 6px;
  position: fixed;
}
.comput{
  margin-top: -300px;
  margin-left: 55%;
  height: 35%;
  width: 35%;
}

.corpo{
margin-top: 2%;
margin-left: 7%;
font-size: 22px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

ul {

  padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  list-style: none;
}

nav { 
  height: 40px;
  background-image: linear-gradient( to right, rgb(36, 55, 75), rgb(163, 192, 240) ); 
  font-size: 0;
  position: relative;
    
}
.lupa{
  width: 16px;
  height: 16px;
  margin-left:-22px;
  margin-bottom: -6px;
  margin-top: -16px;
}

button {
  all: unset;
  cursor: pointer;
  outline: revert;
}

  .o{
    margin-left: -150px;
    width: 450px;
    height: 20px;
    font-family: sans-serif;
    border-radius: 5px;
    border-color: white;
    margin-top: 9px;
  }

.barra{
margin-left: 850px;
margin-top: 2px;
padding-bottom: 10px;
}

nav > ul > li {
  display: inline-block;
    font-size: 14px;
    padding: 0 15px;
    position: relative;
}


nav > ul > li:hover > a {
  color: #444; 
    border-bottom: 3px solid #444;
}

.mega-menu {
    opacity: 0;
    position: absolute;
    left: 10;
    width: 17%;
    padding-bottom: 20px;
}
.mega-menu h3 {color: #444;}

.mega-menu .container {
    display: flex;
}

.mega-menu .item img {
    width: 100%;
}
.mega-menu a {
    color: #4ea3d8;
    display: block;
    padding: 5px 0;
}
.mega-menu a:hover {color: #2d6a91;}

.dropdown 
{ position: static;
  
}

.dropdown:hover .mega-menu {
    visibility: visible;
    opacity: 1;
}

hr {
	border: 0;
	border-top: 1px solid #a2a3a7;
  margin-right: 120px;

}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");



.carousel-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  max-width: 1400px;
  width: 90%;
  padding-left: 90px;
  padding-bottom: 50px;
}

.wrapped-container {
  display: flex;
  overflow: hidden;
  width: 95%;
  justify-content: center;
 
}

.carousel {
  width: 200%;
  height: 100%;
  position: relative;
  overflow-y: hidden;
  display: flex;
  gap: 1em;
  scrollbar-width: none;
  margin-top: 20px;
}



.arrows {
  width: 20px;
  height: 45px;
  outline: none;
  border: none;
  background-color: #5e4c5a;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  opacity: 1;
  cursor: pointer;
  transition: all 0.1s ease;
  padding: 0;
  pointer-events: all;
}

.arrows:hover {
  background-color: #5e4c5a;
  transform: scale(1.1);
}

.arrows svg {
  width: 1.5em;
  height: 1.5em;
  fill: white;
}

.arrow-inactive {
  opacity: 0.5;
  cursor: auto;
}

.arrow-inactive:hover {
  transform: none;
}

.carousel-item {
  width: 200px;
  height: 300px;
}

.carousel-item img {
  border-radius: 10pt;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  color: white;
  cursor: pointer;
  width: 50px;
  height: 30px;
  background: #5e4c5a;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: #ef8354;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 20px;
}

input:checked + label #off {
  display: none;
}

:not(input:checked) + label #on {
  display: none;
}

p {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 0.75rem;
  user-select: none;
  padding-left: 0.5em;
  padding-right: 0.35em;
  font-weight: 600;
}

#off {
  justify-content: flex-end;
  font-size: 0.65rem;
}

#toggle-overflow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.25em;
  color: #5e4c5a;
  font-size: 0.75rem;
}

.overflow {
  overflow-x: auto;
  scrollbar-width: thin;
}

.carousel-wrapper.scrollbar-overflow ::-webkit-scrollbar {
  height: 6px;
}

.carousel-wrapper ::-webkit-scrollbar {
  height: 0px;
}

.carousel-wrapper ::-webkit-scrollbar-track {
  background: #c0b6af;
  border-radius: 10pt;
}

.carousel-wrapper ::-webkit-scrollbar-thumb {
  background: #5e4c5a;
  border-radius: 10pt;
}

.carousel-wrapper ::-webkit-scrollbar-thumb:hover {
  background: #2d242b;
}

@media (pointer: coarse) {
  .carousel {
    overflow-x: auto;
    scrollbar-width: thin;
  }
  .carousel-wrapper ::-webkit-scrollbar {
    height: 6px;
  }
}